*,
*::before,
*::after {
  box-sizing: border-box;
}



:root {
  --header-size: 88px;
  --font-title: 'Handjet', system-ui, sans-serif;
  --title-size: 2.75rem;
  --font-sub-title: 'Mozilla Text', system-ui, sans-serif;
  --sub-title-size: 1.25rem;
  
  --bg: #ffffff;
  --text: #1a1a1a;
  --border: #e5e5e5;
  --accent: ;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --bg: #121212;
    --text: #ededed;
    --border: #2a2a2a;
  } */
   /*TODO image's need to change for darkmode*/
}

html {
  scroll-padding-top: var(--header-size);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: var(--header-size);

  background: var(--bg);
  color: var(--text);
}